#style-11::-webkit-scrollbar {
	width: 20px;
}

#style-11::-webkit-scrollbar-track {
	border-radius: 10px;
	background: rgba(0,0,0,0.1);
	border: 1px solid #ccc;
}

#style-11::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(to left, #fff, #e4e4e4);
	border: 1px solid #aaa;
}

#style-11::-webkit-scrollbar-thumb:hover {
	background: #fff;
}

#style-11::-webkit-scrollbar-thumb:active {
	background: linear-gradient(to left, #22ADD4, #1E98BA);
}
